/* downloaded star wars font for header */
@font-face {
    font-family: "My Custom Font";
    src: url(starjedi/Starjedi.ttf) format("truetype");
}

.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}

/* used devtool in chrome to make background cover body and adust accordingly */
body {
    background-attachment: inherit;
    background-image: url(../images/star-wars-bckgrd.jpg);
    background-size: cover;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-repeat: no-repeat;
    color: #8199A0;
}

header {
    color: white;
    margin-top: 10px;
}



img {
    border: solid;
}

#charCont {
    margin-left: 3px;
}

#player {
    color: #12520F;

}
#player figcaption {
    color: #12520F;
    
}
.playerSelected img {
    /* border: solid; */
    border-color: #12520F;
}

#enemies img {
    color: #8D1013;
    display: inline-flex;
    border-color: #8D1013;
}
#enemies figcaption {
    color: #8D1013;
    
}

#action {
    display: -webkit-inline-box;
}

#defender {
    color: #8D1013;
}

.playerSelection {
    /* to get images side by side tested in devtools and all of these worked: webkit-box, webkit-inline-box, contents, flex, inherit, inline-flex */
    display: inline-flex;

}

.defenderSelection {
    /* to get images side by side tested in devtools and all of these worked: webkit-box, webkit-inline-box, contents, flex, inherit, inline-flex */
    display: inline-flex;
    color: #8D1013;
    display: inline-flex;
    border-color: #8D1013;

}
/* figure images and captions */
figure {
    display: table;
    color: #8199A0;
    text-align: center;
}

figcaption .figCapName {
    display: table-caption;
    caption-side: top;
}

figcaption .figCapHealth {
    display: table-caption;
    caption-side: bottom;
}

.defendersFought {
    display: none;
}



@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }
}