/* downloaded star wars font for header */
@font-face {
    font-family: "My Custom Font";
    src: url(starjedi/Starjedi.ttf) format("truetype");
}

.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
    text-shadow: 2px 2px 3px green, 3px 3px 5px #8D1013;
}

/* used devtool in chrome to make background cover body and adust accordingly */
/* body {
    background-attachment: inherit;
    background-image: url(../images/star-wars-bckgrd.jpg);
    background-size: 130%;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-repeat: no-repeat;
    color: #8199A0;
} */

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #8199A0;
    background-image: url(../images/star-wars-bckgrd.jpg);
    height: 800px;
}

header {
    color: white;
    margin-top: 10px;
}

img {
    border: solid;
}

#charCont {
    margin-left: 3px;
}

#player {
    color: #12520F;

}

#player figcaption {
    color: #12520F;

}

.playerSelected img {
    /* border: solid; */
    border-color: #12520F;
}

#enemies img {
    color: #8D1013;
    border-color: #8D1013;
}

#enemies figcaption {
    color: #8D1013;

}

#action {
    display: -webkit-inline-box;
}

#defender {
    color: #8D1013;
    border-color: #8D1013;
}

#defender img {
    color: #8D1013;
    border-color: #8D1013;
}

#defender figcaption{
    color: #8D1013;
    border-color: #8D1013;
}


.playerSelection {
    /* to get images side by side tested in devtools and all of these worked: webkit-box, webkit-inline-box, contents, flex, inherit, inline-flex */
    display: inline-flex;

}

.defenderSelection {
    /* to get images side by side tested in devtools and all of these worked: webkit-box, webkit-inline-box, contents, flex, inherit, inline-flex */

    color: #8D1013;
    display: inline-flex;
    border-color: #8D1013;

}

/* figure images and captions */
figure {
    display: table;
    color: #8199A0;
    text-align: center;
}

figcaption .figCapName {
    display: table-caption;
    caption-side: top;
}

figcaption .figCapHealth {
    display: table-caption;
    caption-side: bottom;
}

.defendersFought {
    display: none;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }
}

#enemyH {
    color: #8D1013;
}

#coverWhiteSpace {
    background-color: black;
    height: 100%;
    width: 100%; 
}

#playerConsole {
    margin-top: 10px;
}

.gameOver {
    font-size: 33px;
    font-family: "My Custom Font", Verdana, Tahoma;
    text-shadow: 2px 2px 3px green, 3px 3px 5px #8D1013;

}

footer {
    display: none;
}

#themeMusic {
    float: right;
    width: 196px;
}

